ul {
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: ghostwhite;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

img {
  height: fit-content;
}

.country-control {
  display: flex;
}